body {
    font-family: Arial, sans-serif;
    width: 300px;
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
h1 {
    font-size: 18px;
}

textarea, input[type="file"] {
    width: 290px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}
  
button {
    width: 290px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}
  
button:hover {
    background-color: #45a049;
}
  
#links {
    margin-top: 10px;
}
  

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    body {
        font-family: Arial, sans-serif;
        width: 300px;
        padding: 10px;
        background-color: #333333;
        color: #ffffff;
    }
  
    textarea, input[type="file"] {
        background-color: #444444;
        color: #ffffff;
    }
  
    button {
        background-color: #3e8e41;
    }
  
    button:hover {
        background-color: #357a38;
    }
}